.nav-toast {
    position: fixed;
    z-index: 1;
    bottom: 0;
    top: 10vh;
    right: 1vw;
}

.mr-auto {
    background-color: white;
    color: black;
    vertical-align: center;
    justify-content: center;
    font-size: larger;
    font-family: 'Helvetica', sans-serif;
}